* {
box-sizing: border-box;
}

body {
    background-color: #2C3E50;
    color: white;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    background-color: #343a40;
    margin: -10px;
    padding: 0;
    position: relative;
}

.title {
    color: white;
    padding: 20px;
}

.v-logo {
    height: 70px;
    margin: 20px;
}

nav {
    margin: 15px;
    padding: 20px;
    right: 0;
    position: absolute;
    color: white;
}

#agents {
    display: flex;
}

#agents button {
    display: flex;
    align-items: center;
    background-color: #0192c7;
    border: none;
    color: white;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

#agents img {
    margin-right: 10px;
    max-width: 60px;
    height: auto;
}

#top {
    color: white;
    
}


#agent-img {
    height: auto;
    margin-right: 10px;
    max-width: 60px;
}

aside {
    text-align: left;
    padding-left: 75px;
    color: white;
}

.role-logo {
    height: 30px;
}
